menu "Configuração do Wifi Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "TP-LINK-FSE"
        help
            Nome da rede Wifi.
    
    config ESP_WIFI_PASSWORD
        string "Senha do WiFi"
        default "50216468"
        help
            Senha do WiFi (WPA or WPA2).

    config ESP_MAXIMUM_RETRY
        int "Número máximo de tentativas de conexão"
        default 5
        help
            Configure o valor máximo de tentativas de conexão.

endmenu